/* Mobile First Approach */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

/* Declare colour variables in CSS */
:root {
    --main-color: #006064;
    --header-color: #2d3e4f;
    --nav-color: #03969b;
    --customer-details-color: #f7e0cd;
    --repair-details-color: #E0F7FA;
    --courtesy-phone-color: #03969b;
    --cost-section-color: #fc9b7e;
    --buttons-section-color:  #fc9b7e;
    --footer-color: #2d3e4f;
}

header {
    background-color: var(--header-color);
    min-height: 15vh;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
}

header .title-area {
    padding: 1.5em 0.5em;
}

header nav ul li {
    display: block;
    background-color: var(--nav-color);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.5em;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

/* Styles for Main Section */
main {
    background-color: var(--main-color);
}

.form-layout {
    /* CSS GRID */
    grid-template-columns: 1fr;
    grid-template-rows: auto(5, auto);
}

section {
    padding: 1em;
}

.error-message {
    color: red;
    margin: 1em 5%;
    padding: 0;
}

/* Form Alignment */
label, h2 {
    display: block;
    margin: 0 5% 0 5%;

}

textarea, select, input:not(.radio-btn){
    margin: 0 5% 1em 5%;
    width: 90%;
}
/* Fieldset related styles */
fieldset {
    margin: 0 5% 0 5%;
    padding: 4%;

}

fieldset label {
    float: left;
}   

legend {
    margin-left: 0.5%;
}
/* --------------Specific Section code: ---------------------- */
#customer-details {
    background-color: var(--customer-details-color);
    min-height: 30vh;
}

#repair-details {
    background-color: var(--repair-details-color);
    min-height: 30vh;
}

#description {
    min-height: 10em;
}

#courtesy-phone {
    background-color: var(--courtesy-phone-color);
    min-height: 15vh;
}

/* Table Styles */
table {
    empty-cells: show;
    width: 90%;
    margin: 0 5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

tr {
    height: 2em;
}

td {
    padding-left: 1em;
}

.table-row {
    background-color: rgb(243, 237, 237);
}

.table-btns {
    display: block;
}

.table-btn {
    display: block;
}

table, th, td {
    border: 1px solid black;
    background-color: lightgray;
}




#cost {
    background-color: var(--cost-section-color);
    min-height: 20vh;
}

#buttons-section {
    background-color: var(--buttons-section-color);
    min-height: 5vh;
    display: block;
    float: middle;
}

.form-btn {
    display: block;
    width: 90%;
    margin:  0 5% 0.5em 5%;
    padding: 0.3em;
}

/* Styles for footer */
footer {
    background-color: var(--footer-color);
    min-height: 3em;
    color: white;

    /* Center align text horizontally and vertically */
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------- RESPONSIVENESS ------------------------------------ */
/*********** TABLETS/IPAD ***********/
@media screen and (min-width:600px){
    header nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.25em;
    }

    textarea, select, input:not(.radio-btn){
        margin: 0 15% 1em 15%;
        width: 70%;
    }  

    label:not(.radio-label) {
        margin: 0 15% 0 15%;
    }

    fieldset {
        margin: 0 15% 0 15%;
        padding: 1em 0 1em 0;
    }

    fieldset label {
        margin-left: 0.5em;
    }
        
    .form-btn {/*Styles the individual form buttons*/
        width: 70%;
        margin:  0 15% 0.5em 15%;
    }

    #description {
        min-height: 10em;
        width: 70%;
        margin: 0 15% 0 15%;
    }

    /* Table Styles */
    table {
        width: 70%;
        margin: 0 15%;
    }

    .error-message {
        margin: 1em 15%;
    }
}


/*********** DESKTOP ***********/
@media screen and (min-width:769px){
    /* Modify Header */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'title-space title-space menu-space';
    }
    
    .title-area {
        grid-area: title-space;
    }

    .menu-area {
        grid-area: menu-space;
    }

    /* Modify main form-layout */
    .form-layout {
        display: grid;
        grid-gap: 0px;
        grid-template-areas: 'box1 box2 box3'
                             'box1 box2 box4'
                             'box5 box5 box5';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

        /* Form Alignment */
    h2 {
        margin-left: 1.5em;
    }

    /* Fieldset related styles */
    legend {
        margin-left: 5%;
    }

    /* Form Alignment */
    label:not(.radio-label) {
        /* float: left; */
        text-align: right;
        clear: both;
        float:left;
        margin-right:15px;
    
    }

    select, textarea, input:not(.radio-btn) {
        float: right;
        width: 48%;
    }

    #customer-details {
        grid-area: box1;
    }

    #repair-details {
        grid-area: box2;
    }

    #description {
        float: right;
        min-height: 10em;
        width: 48%;
    }

    #courtesy-phone {
        grid-area: box3;
    }

    /* Table Styles */
    table {
        width: 80%;
        margin: 0 10%;
    }

    .table-btns {
        margin-left: 10%;
    }

    .table-btn {
        width: 30%;
        float: left;    
    }

    .error-message {
        margin: 1em 10%;
    }

    #cost {
        grid-area: box4;
    }

    #buttons-section {
        grid-area: box5;
        height: 14vh;
        margin: 0;
        padding: 1em 0;
        display: flex;
        justify-content: center;     
    }
    
    .form-btn {
        width: 8em;
        height: 3em;    
        /* float: left; */
        margin: 0.5em 0.2em;
        padding: 0.3em;   
    }

    footer {
        margin: 0;
        padding: 0;
    }
}